body {
background: url(1.jpg) fixed;
background-size: cover;
backdrop-filter: blur(1.5px);
}
}
.vertical-menu {
width: 100px; /* Set a width if you like */
}

.vertical-menu a {
background-color: rgba(0,0,0,0.6);
overflow: hidden;
border-radius: 10px;
margin-left: 35%;
margin-right: 20%;
color:#FFF8DC; /* Black text color */
display: block; /* Make the links appear below each other */
padding: 12px; /* Add some padding */
text-decoration: none; /* Remove underline from links */
}
.vertical-menu a:hover {
background-color: #808000; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
color: white;
}
.r {
    margin-left: 15px;
}
.r {
background-color: rgba(0,0,0,0.6);
overflow: hidden;
border-radius: 10px;

}
